<div class="container">
    <div class="row">
        <h1>Latest Scores
            <button type="button" class="btn btn-default" ng-click="newArcheryRound()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="recalculateRounds()">
                <i class="fa fa-calculator"></i>Recalculate
            </button>
        </h1>
    </div>

    <div class="row">
        <p>Status: {{status}}</p>
    </div>

    <div class="row">
        <div class="panel panel-default" ng-repeat="archeryEvent in archeryEvents">
            <!-- Default panel contents -->
            <div class="panel-heading">{{archeryEvent.date|date:"fullDate"}}</div>
            <!-- List group -->
            <ul class="list-group" ng-repeat="round in archeryEvent.rounds">
                <li class="list-group-item">
                    <span class="label label-info clicky-element" ng-click="showArcher(round.archer)">{{round.archer}}</span> scored
                    <span class="label label-success clicky-element" ng-click="showDetails(round.id)">{{round.totalScore}}</span>
                    in a <span class="label label-default">{{round.roundType}}</span> round at {{round.location}}, an
                    implied handicap of
                    {{round.handicap}}
                </li>
            </ul>
        </div>
    </div>
</div>
