<div class="container">
    <div class="row">
        <h1>Score details: {{archeryRoundDetails.id}}</h1>
    </div>

    <div class="row">
        <div>
            <button type="button" class="btn btn-default" ng-click="getArcheryRoundDetails()"><span
                    class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                    <span ng-show="detailsDirty">
                        <button type="button" class="btn btn-default" ng-click="saveDetails()"><span
                                class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
                        Details changed. Click save to persist. Totals will be recalculated on the server.
                    </span>
        </div>
        {{status}}
    </div>

    <table class="table">
        <tr>
            <th>Archer</th>
            <th>Date</th>
            <th>Time</th>
            <th>Bow Type</th>
            <th>Indoor</th>
            <th>Round</th>
            <th>Score</th>
            <th>Handicap</th>
        </tr>
        <tr>
            <td><a href="#" editable-text="archeryRoundDetails.archer" onaftersave="setModified()">{{archeryRoundDetails.archer
                || "Archer's Name" }}</a></td>
            <td><a href="#" editable-text="archeryRoundDetails.date" onaftersave="setModified()">{{archeryRoundDetails.date||"Date"}}</a>
            </td>
            <td><a href="#" editable-text="archeryRoundDetails.time" onaftersave="setModified()">{{archeryRoundDetails.time||"Time"}}</a>
            </td>
            <td><select ng-model="archeryRoundDetails.bowType" ng-change="setModified()"
                        ng-options="b.value as b.text for b in bowTypes"/></td>
            <td><input type="checkbox" ng-model="archeryRoundDetails.indoor" ng-change="setModified()"/></td>
            <td><select ng-model="archeryRoundDetails.roundType" ng-change="setModified()"
                        ng-options="b.value as b.text for b in roundTypes"/></td>
            <td>{{archeryRoundDetails.totalScore}}</td>
            <td>{{archeryRoundDetails.handicap}}</td>
        </tr>
    </table>

    <table class="table table-bordered">

        <tr>
            <th colspan="6">End 1</th>
            <th class="text-center">ET</th>
            <th colspan="6">End 2</th>
            <th class="text-center">ET</th>
            <th class="text-center">H</th>
            <th class="text-center">S</th>
            <th class="text-center">G</th>
            <th class="text-center">RT</th>
            <th>
                <button type="button" class="btn btn-default" ng-click="addDozen()"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </th>
        </tr>
        <tr ng-repeat="dozen in archeryRoundDetails.dozens">
            <td class="text-center" ng-repeat="n in [0,1,2,3,4,5]">
                <div ng-show="(!dozen.editing)||dozen.editing == false">{{dozen.end0.scores[n]}}</div>
                <div ng-show="dozen.editing == true"><input type="number" ng-change="setModified()"
                                                            ng-model="dozen.end0.scores[n]" min="0" max="10"/></div>
            </td>
            <td class="text-center">{{dozen.end0.endTotal}}</td>
            <td ng-repeat="n in [0,1,2,3,4,5]">
                <div ng-show="(!dozen.editing)||dozen.editing == false">{{dozen.end1.scores[n]}}</div>
                <div ng-show="dozen.editing == true"><input type="number" ng-change="setModified()"
                                                            ng-model="dozen.end1.scores[n]" min="0" max="10"/></div>
            </td>
            <td class="text-center">{{dozen.end1.endTotal}}</td>
            <td class="text-center">{{dozen.hits}}</td>
            <td class="text-center">{{dozen.score}}</td>
            <td class="text-center">{{dozen.golds}}</td>
            <td class="text-center">{{dozen.runningTotal}}</td>
            <td>
                <div ng-show="(!dozen.editing)||dozen.editing == false" ng-click="dozen.editing = !dozen.editing">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </div>
                <div ng-show="dozen.editing == true">&nbsp;</div>
            </td>
        </tr>
    </table>
</div>
