<div class="container">
    <div class="row">
        <h1>Sight Marks</h1>
    </div>

    <div class="row">
        <div>
            <button type="button" class="btn btn-default" ng-click="getArcheryRoundDetails()"><span
                    class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="showNewSightMark = true">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <span ng-show="detailsDirty">
                <button type="button" class="btn btn-default" ng-click="saveSightMark()"><span
                        class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
                Details changed. Click save to persist.
            </span>
        </div>
        {{status}}
    </div>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Distance</th>
            <th>Units</th>
            <th>Sight Mark</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-show="showNewSightMark">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><a href="#" editable-text="newSightMark.distance" onaftersave="setModified()">{{newSightMark.distance||
                "Distance" }}</a></td>
            <td><a href="#" editable-text="newSightMark.units" onaftersave="setModified()">{{newSightMark.units||
                "sightMarkUnits" }}</a></td>
            <td><a href="#" editable-text="newSightMark.sightMark" onaftersave="setModified()">{{newSightMark.sightMark||
                "sightMark" }}</a></td>
            <td></td>
        </tr>
        <tr ng-repeat="sightMark in sightMarks">
            <td>{{sightMark.id}}</td>
            <td>{{sightMark.userId}}</td>
            <td>{{sightMark.distance}}</td>
            <td>{{sightMark.sightMarkUnits}}</td>
            <td>{{sightMark.sightMark}}</td>
        </tr>
    </table>
</div>
