<div class="container">
    <div class="row">
        <h1>Report card for {{archer}}</h1>
    </div>

    <div class="row">

        <div ng-repeat="seriesData in scoreData" class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">{{seriesData.key}}</div>
            <!-- List group -->
            <div class="panel-body">
                <nvd3-line-chart
                        data="[seriesData]"
                        showXAxis="true"
                        showYAxis="true"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        interactive="true"
                        forcey="range(seriesData.key)"
                        tooltips="true"
                >

                </nvd3-line-chart>
            </div>
        </div>

    </div>
</div>
